@tailwind base;
@tailwind components;
@tailwind utilities;

.left-1\/10 {
  left: 10%;
}

.top-1\/10 {
  top: 10%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
